#layout python3 .venv  # this is an improvement over source .venv/bin/activate Note that i have installed the python-is-python3 library and so using python 3 or python would both work.  But to use layout you would need to do this at the start before running uv venv .venv
source .venv/bin/activate
dotenv .env